* {
    dark0: #2E3440;
    dark1: #3B4252;
    dark2: #434C5E;
    dark3: #4C566A;

    light0: #D8DEE9;
    light1: #E5E9F0;
    light2: #ECEFF4;

    blue: #5E81AC;
    light-blue: #81A1C1;
    cyan: #88C0D0;
    cyan-green: #8FBCBB;

    red: #ECEFF4;
    orange: #D08770;
    yellow: #EBCB8B;
    green: #A3BE8C;
    purple: #B48EAD;

}
